{% load static %}
<footer class="py-4 footer">
  <div class="container">
    <div class="row">
      <!-- Лівий блок футера -->
      <div class="col-md-6">
        <p class="mb-0">© 2026 CashFlow. Усі права захищено.</p>
      </div>

      <!-- Правий блок футера: посилання та іконки -->
      <div class="col-md-6 text-md-end">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <span class="text-decoration-none">Політика конфіденційності</span>
              </li>
              <li class="list-inline-item">
                <span class="text-decoration-none">Умови використання</span>
              </li>              
        </ul>
      </div>
    </div>
  </div>
</footer>
